<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         bootstrap="./framework/bootstrap.php"
>
    <testsuite name="DavidVerholen_Blog Unit Tests">
        <directory suffix="Test.php">../../../../test/unit</directory>
    </testsuite>
    <php>
        <ini name="date.timezone" value="America/Los_Angeles"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
    <filter>
        <whitelist>
            <directory>../../../../src</directory>
            <exclude>
                <directory>../../../../test</directory>
                <directory>../../../../vendor</directory>
                <directory>../../../../build</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
